VITE_FIREBASE_API_KEY="AIzaSyAz6wRxKEQILk-06Zci7ueFE3PfKu5srik"
VITE_FIREBASE_AUTH_DOMAIN="its-evelyn.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="its-evelyn"
VITE_FIREBASE_STORAGE_BUCKET="its-evelyn.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="137781534322"
VITE_FIREBASE_APP_ID="1:137781534322:web:da66dd01d5f55b1e8aaceb"

